{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "container mt-5">

    <h2 style="text-align:center ;">Login</h2>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="align-middle">
            <div class="row mb-4">
                <label class="col-sm-1 col-form-label" style="text-align:center ;">Username</label>
                <div class="row mb-4">
                  <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-sm-1 col-form-label">Password</label>
                <div class="row mb-4">
                  <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>

        </table>
        
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    <br>
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}