{% extends 'base.html' %}

{% block meta %}
<title>Tugas 4 Assignment PBP</title>
{% endblock meta %}

{% block content %}  


<body style="background-color:beige;">

    <div class="container">
        <h2 style="text-align:center ;">To Do List</h2>
        <h3 style="text-align:center ;">Welcome, {{logged}}!</h3>
    
        <a href="{% url 'todolist:create' %}" class="btn btn-warning">Tambah Task Baru</a>
        <br></br>
        
        {% for todo in todolist %}
        <div class="card text-bg-light" >
            {% if todo.is_finished %} 
            <h5 class="card-header"><del>{{todo.title}}</del></h5>
            <div class="card-body">
            <p class="card-text text-black-50"><del>{{todo.date}}</del></p>
            <p class="card-text"><del>{{todo.description}}</del></p>
            <a href="{% url 'todolist:set' todo.pk %}" class="btn btn-success">Undone</a>
        
            {% else %}
            <h5 class="card-header">{{todo.title}}</h5>
            <div class="card-body">
            <p class="card-text text-black-50">{{todo.date}}</p>
            <p class="card-text">{{todo.description}}</p>
            <a href="{% url 'todolist:set' todo.pk %}" class="btn btn-success">Done</a>
            {% endif %}
            <a href="{% url 'todolist:delete' todo.pk %}" class="btn btn-danger">Hapus</a>
            <br>
            </div>
          </div>
        <div>
        {% endfor %}
        <br>
            <a href="{% url 'todolist:logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>

</body>    


{% endblock content %}