{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 Assignment PBP/PBD</h1>

  <h4>Name: {{nama}}</h4>

  <h4>Student ID: {{npm}}</h4>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_item %}
    <tr>
        <th style="line-height: 2em;">{{item.watched}}</th> 
        <th style="line-height: 2em;">{{item.title}}</th>
        <th style="line-height: 2em;">{{item.rating}}</th>
        <th style="line-height: 2em;">{{item.release_date}}</th>
        <th style="text-align:left; line-height: 2em;">{{item.review}}</th>
    </tr>
  {% endfor %}
</table>

 {% endblock content %}
